.default-title {
  color: #252525;
  font-size: clamp(1.75rem, 1.554rem + 0.98vw, 3.125rem);
  font-style: normal;
  font-weight: 500;
  line-height: clamp(2.125rem, 1.893rem + 1.16vw, 3.75rem);
  text-align: center;
  margin-top: 15px;
  margin-bottom: 10px;
}

.default-section {
  margin: clamp(4.063rem, 3.75rem + 1.56vw, 6.25rem) auto;
}

.default-descr {
  color: #252525;
  font-size: clamp(1rem, 0.952rem + 0.16vw, 1.125rem);
  font-style: normal;
  font-variant-numeric: lining-nums;
  font-weight: 500;
  width: 100%;
  line-height: 24px;
}

.container {
  max-width: 1248px;
  margin: 0 auto;
  padding: 0 25px;
}

@media (max-width: 1480px) {
  .container {
    max-width: 1050px;
  }
}
@media (max-width: 480px) {
  .container {
    padding: 0 20px;
  }
}